/Library
/obj
/UnityVS.SimpleFramework_NGUI.sln
/UnityVS.SimpleFramework_NGUI.CSharp.csproj
/UnityVS.SimpleFramework_NGUI.CSharp.Editor.csproj
/UnityVS.SimpleFramework_NGUI.v12.suo
/Assets/StreamingAssets
/Assets/Source/LuaWrap.meta
/Assets/Source/LuaWrap
